<section class="w-full flex flex-col items-center min-h-screen py-48 bg-tag-light-grey">
	<div class="w-full max-w-screen-xl bg-cool-gray-300 rounded-lg shadow-lg flex-grow h-full py-24 px-48">
		{% set purchasableId = craft.app.request.param('purchasableId') %}

		{% set number = craft.app.request.param('number') %}
		{% set order = craft.orders.number(number).one() %}

		{% if not order or order.isCompleted == false %}
			{% redirect 'order?step=3' %}
		{% endif %}
		{% set item = order.lineItems|first %}
		<div class="bg-tag-light-grey shadow sm:rounded-lg">
			<div class="px-4 py-5 sm:p-6">
				<h3 class="text-lg leading-6 font-medium text-gray-700">
					Thank-you for your order!
				</h3>
				<div class="block text-normal font-medium leading-5 text-gray-700 border-t-2 border-cool-gray-400 pt-8 pb-6">
					<h3>You ordered
						<span class="text-gray-900 font-bold">{{ item.description}}</span>. We have charged your card
						<span class="text-gray-900 font-bold">{{ order.totalPriceAsCurrency }}</span>. Please check your email for your receipt.</h3>
				</div>
				<div class="mt-5">
					<a href="{{ currentSite.baseUrl }}" class="bg-cool-gray-600 text-white w-32 text-center rounded px-3 py-3 text-sm hover:bg-cool-gray-800 outline-0">
						Return Home
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
