<section class="w-full flex flex-col items-center px-6 bg-tag-light-grey py-16 angled">
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.contactUsSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
	</div>
</section>
