<section class="w-full flex flex-col items-center px-6 py-16 bg-tag-teal">
	<div class="w-full max-w-screen-xl">
		{% set entry = craft.entries().section('events').id(currentEntry).one() %}
		{% set sectionHeader = entry.eventContent.eventTitle %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% set eventTitle = entry.eventContent.eventTitle %}
		{% set eventBannerImage = entry.eventContent.eventBannerImage.one().optimizedImages %}
		{% set eventBannerImageAltText = entry.eventContent.eventBannerImage.one().title %}
		{% set eventDate = entry.eventContent.eventDate|date('medium') %}
		{% set eventTime = entry.eventContent.eventDate|time('short') %}
		{% set eventDescription = entry.eventContent.eventDescription %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		<div class="w-full flex flex-col md:flex-row flex-wrap">
			<img src="{{ eventBannerImage.src}}" alt="{{ eventBannerImageAltText }}" data-srcset="{{ eventBannerImage.srcset }}" class="w-full md:w-1/2 lg:w-1/3 border-4 border-tag-yellow object-cover">
			<article class="w-full md:w-1/2 lg:w-2/3 px-8 tag">
				{% set subheading = eventDate ~ ' • ' ~eventTime %}
				{% include "_tacos-el-gallo/_snippets/subheading" %}
				{{ eventDescription}}
			</article>
		</div>

	</div>
</section>
