<section class="w-full flex flex-col items-center px-6 bg-tag-light-red py-16 angled-both">
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.happeningsSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		{% for entry in craft.entries().section('events').all() %}
			{% set eventTitle = entry.eventContent.eventTitle %}
			{{ eventTitle }}
		{% endfor %}
	</div>
</section>
