<section class="w-full flex flex-col items-center px-6 bg-tag-light-red py-16 angled-both">
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.happeningsSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		{% set events = craft.entries().section.('events').all() %}
		{% for event in events %}
			test
			
		{% endfor %}
	</div>
</section>
