<section class="w-full px-6 bg-tag-teal">
	<div class="max-w-screen-xl">
		{% set sectionHeader = entry.hoursSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
	</div>
</section>
