<section class="w-full flex flex-col items-center px-6 bg-tag-teal py-16 angled-bottom">
	<div class="w-full max-w-screen-xl flex flex-row items-center p-4">
		{% set sectionHeader = entry.hoursSectionContent.sectionHeader %}
		{% set address = entry.hoursSectionContent.address %}
		{% set phoneNumber = entry.hoursSectionContent.phoneNumber %}
		{% set bodyText = entry.hoursSectionContent.bodyText %}
		{% set ctaText = entry.hoursSectionContent.callToActionText %}
		{% set ctaLink = entry.hoursSectionContent.callToActionLink %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		<div class="w-full border-tag-yellow" style="{% if entry.hoursSectionContent.map.one()|length %} {% set map = entry.hoursSectionContent.map.one().getUrl() %}background: url('{{ map }}') no-repeat right/cover;{% endif %}">
			<div class="w-1/3 h-full">
				<address>
					<h2 class="text-tag-light-grey">{{ address }}</h2>
				</address>
				<div>
					<h2 class="text-tag-red">{{ phoneNumber }}</h2>
				</div>
				<article class="text-center text-black">
					{{ bodyText }}
				</article>
				{% include "_taco-el-gallo/_snippets/btn-main.twig" %}
			</div>
		</div>
	</div>
</section>
