<section class="flex flex-row w-full bg-no-repeat bg-cover bg-position bg-tag-dark-teal" style="{% if entry.introSectionContent.backgroundImage.one()|length %} {% set backgroundImage = entry.introSectionContent.backgroundImage.one().getUrl() %}background-image: url('{{ backgroundImage }}');{% endif %} height: 66vh;">
	{% set navBtnList = entry.headerContent.navigation.visibleInIntroSection(true).all() %}
	{% set ctaText = entry.introSectionContent.callToActionText %}
	{% set ctaLink = entry.introSectionContent.callToActionLink %}
	    <button type="button" class="p-2 bg-white border hover:border-gray-500" @click="isDialogOpen = true">Test modal</button>
	<div id="alert-modal-overlay" class="overflow-auto bg-black bg-opacity-10" x-show="isDialogOpen" :class="{ 'absolute inset-0 z-10 flex items-start justify-center': isDialogOpen }">
		<div class="m-4 text-center text-black shadow-2xl bg-tag-light-grey sm:m-8 tag" x-show="isDialogOpen" @click.away="isDialogOpen = false">
			<button type="button" @click="isDialogOpen = false">✖</button>

		</div>
	</div>
	<nav class="flex flex-col items-center justify-center w-full md:w-1/2">
		{% include "_tacos-el-gallo/_content/nav-btn-list" %}
	</nav>
</section>
