<section class="w-full flex flex-col items-center px-6 bg-tag-light-grey py-16 angled-both">
	<div class="w-full max-w-screen-xl flex flex-col items-center mb-12">
		{% set sectionHeader = entry.menusSectionContent.sectionHeader %}
		{% set bodyText = entry.menusSectionContent.bodyText %}
		{% set ctaText = entry.menusSectionContent.callToActionText %}
		{% set ctaLink = entry.menusSectionContent.callToActionLink %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		<div class="flex flex-col md:flex-row flex-wrap justify-around items-center">
			<article class="tag w-full md:w-3/5 text-left">
				{{ bodyText }}
			</article>
			{% include "_tacos-el-gallo/_snippets/btn-main.twig" %}
		</div>
		{% for row in entry.menus.all() %}
			{% set menuName = entry.menus.menuName %}
			{% set menuIcon = entry.menus.menuIcon.one().optimizedImages %}
			{% set menuContent = entry.menus.menuContent %}
			<div class="flex flex-col items-center w-40">
			<img src="{{ menuIcon.src }}" data-srcset="{{ menuIcon.srcset }}" alt="">
				<h2 class="tag text-tag-teal">{{ menuName }}</h2>
			</div>
		{% endfor %}
	</div>
</section>
