<section class="w-full flex flex-col items-center px-6 bg-tag-light-red py-16 angled-top">
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.merchSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		{% for product in craft.products.type('clothing').all() %}
			{% set productImage = product.productImage.one().optimizedImages %}
			{% set ctaLink = "/buy/add?purchasableId={{product.defaultVariant.id}}" %}
			{% set ctaText = "Buy Now" %}
			<div class="w-1/2 md:w-1/3 flex flex-col">
				<img src="{{ productImage.src }}" alt="" class="border-4 border-tag-yellow">
				<h2 class="tag text-black">{{ product.title }}</h2>
				<h3 class="tag text-tag-dark-teal">{{ product.defaultVariant.salePriceAsCurrency }}</h3>
				{% include "_tacos-el-gallo/_snippets/btn-main" %}
			</div>
		{% endfor %}

	</div>
</section>
