<section class="w-full flex flex-col items-center px-6 bg-tag-teal py-16 angled-both">
	<div class="w-full max-w-screen-xl flex flex-col items-center mb-12">
		{% set sectionHeader = entry.privateEventsSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% set bodyText = entry.privateEventsSectionContent.bodyText %}
		{% set ctaText = entry.privateEventsSectionContent.callToActionText %}
		{% set ctaLink = entry.privateEventsSectionContent.callToActionLink %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		<div class="w-full border-tag-yellow p-4 border-4 flex flex-row items-center" style="{% if entry.privateEventsSectionContent.backgroundImage.one()|length %} {% set backgroundImage = entry.privateEventsSectionContent.backgroundImage.one().getUrl() %}background: url('{{ backgroundImage }}') no-repeat right/cover;{% endif %}">
			<div class="flex flex-col w-1/2 items-center">
				<div class="flex flex-col items-center p-4 w-2/5 h-full bg-tag-teal">
					<article class="text-center text-black mb-4 font-quicksand">
						{{ bodyText }}
					</article>
				</div>
			</div>
			<div class="flex flex-col w-1/2 items-center">
				{% include "_tacos-el-gallo/_snippets/btn-main.twig" %}
			</div>
		</div>
	</div>
</section>
