
<section class="flex flex-row w-full bg-cover bg-imp-dark-aqua {% if entry.introSectionContent.backgroundImage.one()|length %} {% set backgroundImage = entry.introSectionContent.backgroundImage.one().getUrl() %}bg-image{% endif %}">
	{% set navBtnList = entry.headerContent.navigation.visibleInIntroSection(true).all() %}
		{% set ctaText = entry.introSectionContent.callToActionText %}
	{% set ctaLink = entry.introSectionContent.callToActionLink %}
	<nav class="flex flex-col items-center justify-center w-full md:w-1/2">
		{% include "_imperial/_content/nav-btn-list" %}
	</nav>
</section>
