<section class="flex flex-row w-full bg-no-repeat bg-cover bg-position bg-imp-dark-aqua" style="{% if entry.introSectionContent.backgroundImage.one()|length %} {% set backgroundImage = entry.introSectionContent.backgroundImage.one().getUrl() %}background-image: url('{{ backgroundImage }}');{% endif %} height: 66vh;">
	{% set navBtnList = entry.headerContent.navigation.visibleInIntroSection(true).all() %}
	{% set ctaText = entry.introSectionContent.callToActionText %}
	{% set ctaLink = entry.introSectionContent.callToActionLink %}
	<nav class="flex flex-col items-center justify-center w-full md:w-1/2">
		{% include "_imperial/_content/nav-btn-list" %}
	</nav>
</section>
