<ul class="w-5/6 space-y-4 md:w-1/2">
	{% for block in navBtnList %}
		{% set itemLink = block.itemLink %}
		{% set itemName = block.itemName %}
		<li>
			{% include "_tacos-el-gallo/_snippets/nav-button.twig" %}
		</li>
	{% endfor %}
	<li>
		<a href="{{ ctaLink }}" class="bg-tag-red text-tag-light-grey px-4 py-2 font-proxima-nova uppercase font-extrabold text-xl block text-center tag hover:bg-tag-teal{% if 'Order Online' in ctaText %}upserve-olo-opener{% endif %}">
			{{ ctaText }}
		</a>
	</li>
</ul>
