<nav class="">
	<ul>
		{% for block in navList %}
		{% set itemLink = block.itemLink %}
		{% set itemTitle = block.itemTitle %}
			<li>
				{% include "_tacos-el-gallo/_snippets/nav-item.twig" %}
			</li>
		{% endfor %}
	</ul>
</nav>
