{% extends "_imperial/_layout/base-layout" %}

{% block header %}
{% set entry = craft.entries().section('imperialHomePage').one() %}
	{% include "_imperial/_frame/header" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full h-full">
	{% include "_imperial/_pages/error-section" %}
	</main>
{% endblock %}
{% block footer %}
{% set entry = craft.entries().section('imperialHomePage').one() %}
	{% include "_imperial/_frame/footer" %}
{% endblock %}