<footer class="flex flex-col flex-wrap items-center justify-between w-full px-10 py-8 bg-black md:flex-row">
	{% set listClasses = 'block space-y-2 align-top' %}
	{% set address = entry.hoursSectionContent.address %}
	{% set hours = entry.hoursSectionContent.hours %}
	<nav class="" style="column-count: 2;">
		{% set navList = entry.headerContent.navigation.all() %}
		{% include "_tacos-el-gallo/_content/nav-item-list" %}
		{% set socialMediaList = entry.headerContent.socialMediaAccounts.all() %}
		{% include "_tacos-el-gallo/_content/social-media-links" %}
	</nav>
	<address class="w-full my-8 not-italic text-center md:w-2/5 lg:w-1/3 md:my-0">
		<a href="https://goo.gl/maps/b1R88RrjJU2dZ4cE6" target="_blank" rel="nofollow">
			<h5 class="mb-2 font-bold text-center text-tag-light-grey tag">{{ address | nl2br }}</h5>
		</a>
		<h5 class="font-bold text-center text-tag-light-grey tag">{{ hours | nl2br }}</h5>
	</address>
	{% set ctaLink = "tel:1-828-254-8980" %}
	{% set ctaText = "Call Us" %}
	{% include "_tacos-el-gallo/_snippets/btn-main" %}
</footer>
