<footer class="w-full flex flex-col md:flex-row flex-wrap bg-black items-center justify-between px-10 py-8">
	{% set listClasses = 'block' %}
	{% set address = entry.hoursSectionContent.address %}
	{% set hours = entry.hoursSectionContent.hours %}
	<nav class="" style="column-count: 2;">
		{% set navList = entry.headerContent.navigation.all() %}
		{% include "_tacos-el-gallo/_content/nav-item-list" %}
		{% set socialMediaList = entry.headerContent.socialMediaAccounts.all() %}
		{% include "_tacos-el-gallo/_content/social-media-links" %}
	</nav>
	<address class="not-italic text-center w-full md:w-3/5 lg:w-1/3">
		<h5 class="text-tag-light-grey tag text-center font-bold">{{ address }}</h5>
		<h5 class="text-tag-light-grey tag text-center font-bold">{{ hours }}</h5>
	</address>
	{% set btnLink = "tel:1-828-254-8980" %}
	{% set btnText = "Call Us" %}
	{% include "_tacos-el-gallo/_snippets/btn-alt" %}
</footer>
