<header class="w-full flex flex-row flex-wrap bg-black items-center px-12 py-4">
	{% if entry.headerContent.logo|length %}
		{% set logo = entry.headerContent.logo.one().optimizedImages %}
		{% set logoAltText = entry.headerContent.logo.one().title %}
		{% include "_tacos-el-gallo/_snippets/logo" %}
	{% else %}
		{% include "_tacos-el-gallo/_snippets/site-title" %}
	{% endif %}
	<nav class="ml-4 flex flex-col md:flex-row justify-between flex-grow">
		{% set navList = entry.headerContent.navigation.all() %}
		{% include "_tacos-el-gallo/_content/nav-item-list" %}
		{% set socialMediaList = entry.headerContent.socialMediaAccounts.all() %}
		{% include "_tacos-el-gallo/_content/social-media-links" %}
	</nav>
</header>
