@tailwind base;

@font-face {
    font-family: 'luchadorregular';
    src: url('/assets/fonts/luchador-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/luchador-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Tacos El Gallo Classes */

h1.tag {
    @apply font-proxima-nova;
    @apply uppercase;
    @apply font-extrabold;
    @apply leading-tight;
    @apply text-4xl;
}
h2.tag {
    @apply font-proxima-nova;
    @apply uppercase;
    @apply font-extrabold;
    @apply leading-tight;
    @apply text-2xl;
}
h3.tag {
    @apply font-quicksand;
    @apply uppercase;
    @apply leading-tight;
    @apply text-2xl;
}
h4.tag {
    @apply font-quicksand;
    @apply font-normal;
    @apply leading-tight;
    @apply text-2xl;
}
h5.tag {
    @apply font-quicksand;
    @apply leading-tight;
    @apply text-lg;
}
.tag p {
    @apply font-quicksand;
    @apply text-base;
    @apply font-medium;
    @apply pb-3;
    @apply leading-snug;
}

.nav-item.tag {
    @apply font-quicksand;
    @apply text-base;
    @apply font-medium;
    @apply text-tag-teal;
}

.nav-item.tag:hover {
    @apply text-tag-yellow;
}

.social-item.tag {
    @apply text-xl;
    @apply font-medium;
    @apply text-tag-yellow;
}

.social-item.tag:hover {
    @apply text-tag-red;
}

.nav-btn.tag {
    @apply bg-tag-gold;
    @apply text-tag-light-grey;
    @apply px-4;
    @apply py-2;
    @apply font-proxima-nova;
    @apply uppercase;
    @apply font-extrabold;
    @apply text-xl;
    @apply block;
    @apply text-center;
}

.nav-btn.tag:hover {
    @apply bg-tag-teal;
}

.nav-btn.tag:active {
    @apply bg-tag-dark-red;
}

.btn-main.tag {
    @apply bg-tag-red;
    @apply text-tag-light-grey;
    @apply p-2;
    @apply font-proxima-nova;
    @apply uppercase;
    @apply font-extrabold;
    @apply text-xl;
}

.btn-main.tag:hover {
    @apply bg-tag-dark-teal;
}

.btn-main.tag:active {
    @apply bg-tag-dark-red;
}

.btn-alt.tag {
    @apply border-tag-teal;
    @apply border-2;
    @apply text-tag-teal;
    @apply p-2;
    @apply font-proxima-nova;
    @apply uppercase;
    @apply font-extrabold;
    @apply text-xl;
}

.btn-alt.tag:hover {
    @apply border-tag-red;
}

.btn-alt.tag:active {
    @apply border-tag-dark-red;
}

/* Imperial Classes */

h1.imp {
    @apply font-luchador;
    @apply uppercase;
    @apply font-bold;
    @apply leading-tight;
    @apply text-4xl;
}
h2.imp {
    @apply font-luchador;
    @apply uppercase;
    @apply font-bold;
    @apply leading-tight;
    @apply text-2xl;
}
h3.imp {
    @apply font-minion-pro;
    @apply uppercase;
    @apply leading-tight;
    @apply text-2xl;
}
h4.imp {
    @apply font-minion-pro;
    @apply font-bold;
    @apply leading-tight;
    @apply text-2xl;
}
h5.imp {
    @apply font-minion-pro;
    @apply leading-tight;
    @apply text-lg;
}
.imp p {
    @apply font-minion-pro;
    @apply text-base;
    @apply font-medium;
    @apply tracking-wide;
    @apply pb-3;
    @apply leading-snug;
}

.nav-item.imp {
    @apply font-quicksand;
    @apply text-base;
    @apply font-medium;
    @apply text-imp-aqua;
}

.nav-item.imp:hover {
    @apply text-imp-gold;
}

.social-item.imp {
    @apply text-xl;
    @apply font-medium;
    @apply text-imp-gold;
}

.social-item.imp:hover {
    @apply text-imp-red;
}

.nav-btn.imp {
    @apply bg-imp-gold;
    @apply text-imp-light-grey;
    @apply px-4;
    @apply py-2;
    @apply font-luchador;
    @apply uppercase;
    @apply font-bold;
    @apply text-xl;
    @apply block;
    @apply text-center;
}

.nav-btn.imp:hover {
    @apply bg-imp-aqua;
}

.nav-btn.imp:active {
    @apply bg-imp-dark-red;
}

.btn-main.imp {
    @apply bg-imp-red;
    @apply text-imp-light-grey;
    @apply p-2;
    @apply font-luchador;
    @apply uppercase;
    @apply font-bold;
    @apply text-xl;
}

.btn-main.imp:hover {
    @apply bg-imp-dark-aqua;
}

.btn-main.imp:active {
    @apply bg-imp-dark-red;
}

.btn-alt.imp {
    @apply border-imp-dark-aqua;
    @apply border-2;
    @apply text-imp-dark-aqua;
    @apply p-2;
    @apply font-luchador;
    @apply uppercase;
    @apply font-bold;
    @apply text-xl;
}

.btn-alt.imp:hover {
    @apply border-imp-red;
}

.btn-alt.imp:active {
    @apply border-imp-dark-red;
}

.btn-purchase.imp {
    @apply border-imp-dark-gold;
    @apply border-2;
    @apply text-imp-dark-gold;
    @apply p-2;
    @apply font-luchador;
    @apply uppercase;
    @apply font-bold;
    @apply text-xl;
}

.btn-purchase.imp:hover {
    @apply border-imp-red;
}

.btn-purchase.imp:active {
    @apply border-imp-dark-red;
}

.card-holder-first-name {
    @apply rounded-md;
    @apply mb-4;
    @apply form-input;
}

.card-holder-last-name {
    @apply rounded-md;
    @apply mb-4;
    @apply form-input;
}

.card-data {
    @apply rounded-md;
    @apply mb-4;
    @apply form-input;
}




@tailwind components;

@tailwind utilities;

.angled-bottom {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

.angled-top {
    clip-path: polygon(0 4vw, 100% 0, 100% 100%, 0 100%);
}

.angled-both {
    clip-path: polygon(0 4vw, 100% 0, 100% calc(100% - 4vw), 0 100%);
}