{% extends "_tacos-el-gallo/_layout/base-layout" %}

{% block main %}
<main class="flex flex-col items-center w-full">
{% include "_tacos-el-gallo/_pages/checkout-fields-section" %}
</main>
{% endblock %}