{% extends "_tacos-el-gallo/_layout/base-layout" %}
{% set currentEntry = entry.id %}
{% block header %}
{% set entry = craft.entries().section('tacosElGalloHome').first() %}
	{% include "_tacos-el-gallo/_frame/header" %}
{% endblock %}
{% block main %}
{% set entry = craft.entries().section('events').id(currentEntry) %}
	<main class="flex flex-col items-center w-full">
	{% include "_taco-el-gallo/_pages/event-section" %}
	</main>
{% endblock %}
{% block footer %}
{% set entry = craft.entries().section('tacosElGalloHome').first() %}
	{% include "_tacos-el-gallo/_frame/footer" %}
{% endblock %}