{% set url = craft.app.request.absoluteUrl %}
{% set currentUrl = currentSite.getBaseUrl() %}
<a href="{% if url == currentUrl %}{{ itemLink }}{% else %}{{ currentUrl }}{{ itemLink }}{% endif %}" class="uppercase nav-item imp" @click="isOpen = false">{{ itemName }}</a>


