{% set url = craft.app.request.url %}
<a href="{% if url == currentSite.baseUrl %}{{ itemLink }}{% else %}{{ currentSite.baseUrl }}{{ itemLink }}{% endif %}" class="uppercase nav-item imp" @click="isOpen = false">{{ itemName }}</a>


